<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058943123548-5chb5km9v6k6762c1rdp232gn1j9qbke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058943123548-5chb5km9v6k6762c1rdp232gn1j9qbke</string>
	<key>API_KEY</key>
	<string>AIzaSyDUV20KuB3F2Qp6_CXRnIEcAz5DmRiIqCg</string>
	<key>GCM_SENDER_ID</key>
	<string>1058943123548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lasalle.Winter2023IOSProject</string>
	<key>PROJECT_ID</key>
	<string>ios2project21106092033002</string>
	<key>STORAGE_BUCKET</key>
	<string>ios2project21106092033002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058943123548:ios:66b38de693d23111c2a699</string>
</dict>
</plist>